@model IEnumerable<webTimPhong.Models.EF.ROOM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách bài đăng</h2>

<p>
    @Html.ActionLink("Tạo bài đăng mới", "Add")
</p>

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Hình ảnh</th>
            <th>Tiêu đề</th>
            <th>Danh mục</th>
            <th>Số lượng phòng</th>
            <th>Giá</th>
            <th>Ngày tạo</th>
            <th>Ngày hết hạn</th>
            <th>Tình trạng bài</th>
            <th style="width:150px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
            foreach (var item in Model)
            {
                var strCheck = item.IsConfirm ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                var strImg = "";
                var CheckImage = item.PICTUREs.FirstOrDefault(x => x.IsActive);
                if (CheckImage != null)
                {
                    strImg = CheckImage.Image;
                }
                <tr id="trow_@item.Id">
                    <td>@i</td>
                    <td><img class="imgproduct" data-id="@item.Id" src="@strImg" width="50" /></td>
                    <td>@item.Title</td>
                    <td>@item.RoomCategory.Title</td>
                    <td>@item.RoomNumber</td>
                    <td>@item.Price</td>
                    <td>@item.Createddate.ToString("dd/MM/yyyy")</td>
                    <td>@item.ExprireTime.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">
                        <a href='#' data-id="@item.Id" class="btnConfirm">@Html.Raw(strCheck)</a>
                    </td>
                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="4">Không có bài đăng nào!</td>
            </tr>
        }
    </tbody>

</table>
