@model IEnumerable<webTimPhong.Models.EF.ROOM>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <!-- Room 1 -->
        var strImge = "";
        var img = item.PICTUREs.FirstOrDefault(x => x.IsActive);
        if (img != null)
        {
            strImge = img.Image;
        }
        <div class="product-item @item.RoomCategory.Alias">
            <div class="product discount product_filter">
                <div class="product_image">
                    <img src="@item.Image" alt="@item.Title">
                </div>
                <div class="favorite favorite_left"></div>
                @* <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>*@
            <div class="product_info">
                <h6 class="product_name"><a href="/room/detail/@item.Id">@item.Title</a></h6>
                <li class="mr-auto">Loại phòng: <span class="font-weight-bold">@item.RoomCategory.Title</span></li>
                <li class="mr-auto">Địa chỉ: <span class="font-weight-bold">@item.Address, phường @item.WARD.WardName, quận @item.DISTRICT.DistrictName, @item.CITY.CityName</span></li>
                <li class="mr-auto">Giá: <span class="font-weight-bold">@item.Price</span>Triệu/tháng </li>
                <ul class="info-list d-flex">
                    <li class="mr-auto">Đăng bởi: <span class="font-weight-bold">@item.CreatedBy</span></li>
                </ul>
                @*<div style="display:none;" class="in_product_user"> @item.</div>*@
            </div>
            </div>
        </div>
    }
}

