@model webTimPhong.Models.EF.ROOM

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi tiết bài đăng </h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CITY.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTRICT.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRICT.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomCategory.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomCategory.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARD.WardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARD.WardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acreage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acreage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExprireTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExprireTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifierdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifierdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifiedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifiedby)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
